		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body{
			overflow:-Scroll;
			overflow:hidden;
			height: 100%;
		}
		
		#comment{
			width: 40%;
			position: absolute;
			left: 30%;
			top: 30%;
			z-index: 100;
			background: rgba(33,33,33,0.1);
			color:#FFFFFF;	
			padding: 2%;	
		}
		#imageBox{
			width: 100%;
		}
		#imageBox img{
			width: 100%;
			display: none;
			position: absolute;
			left: 0;
			top: 0;
		}
		#imageBox img:nth-child(1){
			display: block;
		}

