		body{
			overflow:-Scroll;
			overflow:hidden;
			height: 100%;
		}
		
		.bgimg{
			width: 100%;
			overflow: hidden;
			height: 100%;
		}
		.comment{
			position: absolute;
			width: 40%;
			left: 30%;
			top: 40%;
			z-index: 200;
			font-size: 16px;
		}
		.bgimg img{
			width: 100%;
			height: 100%;
			display: none;
			position:absolute;
			left: 0;
			top: 0;
			
		}
		.bgimg>img:nth-child(1){
			
			display:block;
			width: 120%; 
			height: 120%;
			top: -10%; 
			left: -10%;
			
		}
		@keyframes bigger{
			from{transform: scale(1,1);}
			to{transform: scale(1.1,1.1);}
		}

